@model AspNetCoreWebApplication.Models.Game
@*
    /Game/Index/
*@

@{
    ViewData["Title"] = "Texas Hold Em";
    Model.GameDeck.Shuffle();
    Model.PreFlop();
    Model.TheFlop();
    Model.TheTurn();
    Model.TheRiver();
    Model.Showdown();
}

<div id="gamecontent">
    <div id="gameboard">
        <div class="container">
            <div class="row gametitle">
                <div class="col-12 text-center">
                    <h1 class="display-3 pokerfont">@ViewData["Title"]</h1>
                </div>
            </div>
            <div class="row ">
                <div class="col-4">
                    <div class="row playercell">
                        @{
                            Html.RenderPartial("PlayerLeftView", Model.GamePlayers[3]);
                        }

                    </div>
                    <div class="row playercell">
                        @{
                            Html.RenderPartial("PlayerLeftView", Model.GamePlayers[2]);
                        }
                    </div>
                    <div class="row playercell">
                        @{
                            Html.RenderPartial("PlayerLeftView", Model.GamePlayers[1]);
                        }
                    </div>
                </div>
                <div class="col-1 betcol">
                    <div id="playerbet3" class="row align-middle betcell">
                        <h6>$0</h6>
                    </div>
                    <div id="playerbet2" class="row align-middle betcell">
                        <h6>$0</h6>
                    </div>
                    <div id="playerbet1" class="row align-middle betcell">
                        <h6>$0</h6>
                    </div>
                </div>
                <div class="col-2">
                    @{
                        Html.RenderPartial("CommunityView", Model.GameTable);
                    }
                    <div class="row m-0 text-center thepot align-items-center">
                        <p>$ 1000</p>
                    </div>
                    <div id="playerbet0" class="row betcell p-0">
                        <h6 class="playerbet0text">$0</h6>
                    </div>
                </div>
                <div class="col-1 betcol">
                    <div id="playerbet4" class="row align-middle betcell">
                        <h6>$0</h6>
                    </div>
                    <div id="playerbet5" class="row align-middle betcell">
                        <h6>$0</h6>
                    </div>
                    <div id="playerbet6" class="row align-middle betcell">
                        <h6>$0</h6>
                    </div>
                </div>
                <div class="col-4">
                    <div class="row playercell">
                        @{
                            Html.RenderPartial("PlayerRightView", Model.GamePlayers[4]);
                        }

                    </div>
                    <div class="row playercell">
                        @{
                            Html.RenderPartial("PlayerRightView", Model.GamePlayers[5]);
                        }
                    </div>
                    <div class="row playercell">
                        @{
                            Html.RenderPartial("PlayerRightView", Model.GamePlayers[6]);
                        }
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-4 ">
                    <textarea class="gameturn">GameTurn</textarea>
                </div>
                <div class="col-8 px-0">
                        @{
                            Html.RenderPartial("PrimePlayerView", Model.GamePlayers[0]);
                        }
                </div>                
            </div>
        </div>
    </div>
</div>

